// All background colors
$green-primary: #1FAD52;
$green-secondary: #3CD574;
$yellow-primary: #FFBE31;
$yellow-donate: #F6CF02;
$yellow-secondary: #FFF9E6;
$pink-primary: #EF97A0;
$pink-purple-secondary: #F0E9E9;
$purple-primary: #9D2D8D;
$mint-primary: #9CD3B2;
$mint-secondary: #EFF7F1;
$white: #FFFFFF;

// text-colors
$dark-text: #3A3A38;
$grey-text: #707070;
$pink-text: #E31E60;




