// All background colors
$green-primary: #00A94F;
$green-secondary: #3CD574;
$yellow-primary: #FED132;
$yellow-secondary: #FFF8E7;
$yellow-tertiary: #FFEFC1;
$pink-primary: #EE255C;
$pink-tertiary: #F49C9F;
$pink-secondary: #FCE8E6;
$purple-primary: #9D3092;
$purple-tertiary: #FBD5D3;
$purple-secondary: #EFE4F1;
$mint-primary: #9DD2B2;
$mint-secondary: #DDF0E7;
$mint-tertiary: #F2F9F5;


$yellow-donate: #F6CF02;
$pink-purple-secondary: #F0E9E9;
$white: #FFFFFF;

// text-colors
$dark-text: #3A3A38;
$grey-text: #707070;
$pink-text: #E31E60;




