@use 'colors' as *;

@mixin navbar-top {
    width: 100vw;
    position: sticky;
    top: 0px;
    z-index: 10;
    overflow-x: hidden;
    filter: drop-shadow(0 40px 40px rgba(0, 0, 0, 0.15));
    &__container {
        position: relative;
        &--background {
            z-index: 2;
            svg {
                height: 8rem;
                width: 100%;
            }
        }

        &--logos {
            position: absolute;
            z-index: 3;
            left: 5%;
            top: min(5%, 3vh);
            display: inline-block;
            align-items: baseline;

            :nth-child(1) {
                padding: 0 0.5rem;
                margin-bottom: -15px;
                height: 2rem;
            }

            :nth-child(2) {
                height: 5rem;
                padding-left: 0.5rem;
            }
        }
    }
}

@mixin navbar-bottom {
    position: sticky;
    bottom: 0;
    z-index: 10;
    width: 100vw;

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &--icons {
            overflow: hidden;
            align-items: center;
            cursor: pointer;
            border: 3px solid $white;
            border-radius: 5rem;
            background-color: $green-primary;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.35);
            transition: .6s;

            .icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .shiny {
                position: relative;
                background-color: rgba(255, 255, 255, 1);
            }

            &:hover {
                transform: scale(1.1);

                .shiny {
                    background-color: rgba(255, 255, 255, 0.2);
                    transition: ease-in-out .7s;
                }
            }
        }
    }
}

@mixin video-button {
    transition: .6s;
    background-color: $green-primary;
    border: 5px solid $white;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
    transition: .6s;

    .play::before {
        font-family: "icomoon";
        content: "\e901";
        color: #fdd300;
        transition: .6s;
    }

    .words {
        //
        animation: words 5s linear infinite;
        font-weight: bold;
        transform-origin: center;
        fill: #fdd300;
        transition: .6s;
    }

    @keyframes words {

        //
        from {
            transform: rotateZ(0deg);
        }

        to {
            transform: rotateZ(360deg);
        }
    }

    &:hover {
        transform: scale(1.1);
        background-color: $yellow-primary;

        .play::before,
        .words {
            fill: $green-primary;
            color: $green-primary;
        }
    }
}


@mixin cards {
    margin: 0 0 1rem 0;
    border-radius: 20px;
    padding: 2rem;

}

// special class for the front page CEO
@mixin cards-with-picture {
    margin: 0 0 1rem 0;
    border-radius: 0 0 20px 20px;
    padding: 2rem;
}

@mixin download {
    background-color: $white;
    justify-content: space-around;
    text-align: center;
    position: relative;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
    transition: 0.6s;

    h2 {
        display: inline-block;
        vertical-align: middle;
        color: black;
        transition: 0.6s;
    }

    h2::before {
        font-family: 'icomoon';
        content: "\e91e";
        color: black;
        display: inline-block;
        vertical-align: middle;
        transition: 0.6s;
    }

    &:hover {
        h2::before {
            background-color: black;
            color: $white;
        }
    }
}

// The animation of circle growing up from left corner
@mixin card-animation-before {
    transition: 0.6s;
    height: auto;
    width: 100%;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: -2rem;
        left: -2rem;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.4s ease-in-out;
    }
}


// animation with shadow and grows slightly
@mixin card-animation-after {
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.2));
    &::before {
        transform: scale(60);
    }
}